
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'header';
@import 'footer';
@import 'bxslider';






body {
	background: $background-color;
	color: $font-color;
	font-family: $font-stack;
	font-size: 62.5%;
	font-weight: normal;
}


/*TYPOGRAPHY*/

h1, h2, h3, h4, h5, h6 {line-height: 160%;}


h1, h2 {font-size: 2.9em; padding: 0 0 20px;font-weight: bold; text-transform:uppercase; position: relative;}
h1:before , h2:before {content: ''; display: block;border-top: solid 3px white; position: relative; top: 22px;}
.home h1 {font-size: 2em; padding:25px 0;font-weight: bold;text-transform: none;}
.home h1:before {border:0;}

h3 {font-size: 2.21em; padding: 12px 0 20px; font-weight:bold;}
h4 {font-size: 1.69em;padding:0 0 10px;font-weight: normal;color: $primary-color}
h6 {font-size: 1.8em; display: inline-block; margin: 0 20px 20px 0;}
h6 a {border: solid 3px; padding: 5px 25px; color: $black!important; font-weight: bold;text-decoration: none}

p { font-size: 1.8em;padding:0 0 30px;line-height: 160%;  }
p.meta {color: lighten($font-color,20);font-style: italic;}
li { font-size: 1.8em;padding:0 0 5px;line-height: 160%; list-style: circle; margin-left: 35px;}
ul {margin-bottom: 30px;}

li li, li p {font-size: inherit;}
ul ul , ul ol, ol ol {font-size: inherit}


@media (min-width: 768px){

	h1, h2 {font-size: 4.5em;}
    .home h1 {font-size: 2.5em;}
	h1:before, h2:before {content: ''; display: block;border-top: solid 3px white; position: relative; top: 33px;}
    .home h1:before {border:0;}
	h4 {font-size: 2.1em;}

}






a {
	text-decoration: underline;
	display: inline-block;
	border-radius:3px;
	@include transition(0.3s);

    &.active {
    font-weight: bold;
    }


	&:link, &:visited, &:active {
		color: $primary-color
	}
	&:hover {
		background-color: transparentize($primary-color,0.8)
	}
}


// FORMS
form { }
label {
    font-size: 1.5em;
    padding: 5px 0 10px;
    display: block;
    color: lighten($font-color, 20);
    text-transform: uppercase;

}
input {
    padding: 10px;
    border: 1px solid #555;
    font-size: 1.5em;
    margin:0 0 20px;

}
textarea{
    @extend input;
    height: 300px;
}

input[type="radio"] {
    width: auto;

}

label.radio_label {

    display: inline-block;
    padding: 0 10px;
    input {
        margin-left: 5px;
    }

}

input[type="submit"] {
    background: $primary-color;
    color: white;
    border: 0;
    padding:20px;
    text-transform: uppercase;
    transition: all 0.3s;

    &:hover {
        background-color: darken($primary-color, 10);
    }
}

strong, b {font-weight: bold;}
em, i {font-style: italic}

table {
	width: 100%;
	margin:0 0 40px;
}

th, td {font-size: 1.5em;padding:10px;border:0}
section td {font-size: 2em;line-height: 160%;padding:0 0 10px;}

blockquote {
	padding:20px 0 20px 40px;
	border-left:4px solid #888;
	margin:40px 20px 40px 40px;
	font-size: 140%;
	font-style: italic;
	max-width: 700px;
}
blockquote p:last-child {padding-bottom: 0}

input {padding: 10px;width: 100%;font-size: 1.5em;}
input[type="text"] {appearance:none;}



img {
	width: 100%;
	height: auto;
	margin: 0;
}


 .wp-caption {border:0; background:none; }
 p.wp-caption-text {
    position: relative;
    top: -22px;
    background: rgba(0,0,0,0.5);
    padding: 2px!important;
}


.alert {
    padding:15px;
    margin:10px 0 20px;
    border:1px solid #888;
    border-radius: 5px;

    &.alert_error {
        background: $red;
        border-color: darken($red, 20 );
        color: darken($red, 40 );
    }

    &.alert_success {
        background: $green;
        border-color: darken($green, 20 );
        color: darken($green, 40 );

    }
}


.title_image {
	background-size: cover;
	background-position: center bottom;
	padding: 120px 25px;
}

.title_background {
	background-color: transparentize($primary-color,0.2);
	color:white;
	width: 80vw;
	max-width: 1000px;
	min-width: 250px;
    margin: auto;
    text-align: center;
    padding: 60px 35px;
    h4 {
        color: white;
    }
}

.border {
	border-bottom: solid 20px;
}
.blackborder {
	border-color: $black;
}
.redborder {
	border-color: darken($primary-color, 10);
}

.bigcol, .smallcol {
    padding: 30px 25px;
}

.primary {
	background-color: $primary-color;
	h2:before {border-color: $primary-color}
}
.dark_primary {
	background-color: darken($primary-color, 20);
	h2:before {border-color: darken($primary-color, 20);}
}
.primary, .dark_primary {
	color: white;
	a, h6 a {color: white !important;}

}



.min_height_browser {
	min-height: 90vh;
}



@import 'partners';
@import 'news';
@import 'events';
@import 'partage';



.section_page_title {
    text-align: center;
    padding-top:40px;
}
.section_equal_columns {
    padding-top:50px;
    padding-bottom:50px;
}

section.section.section_half_map {
    margin: 50px 0;
}
// .section_full_width {
//     p, li {
//         font-size: 2.4em
//     }
// }
//

// COMMENTS
.comments {


    ul {
        margin:0 0 20px;
        padding:0;
        li {
            list-style: none;
            padding:0 0 40px;
            margin:0;

            cite {
                font-weight: bold;
                font-size: 1em;

            }

            blockquote {
                padding: 0;
                margin: 0 0 5px;
                border:0;
                font-size: 89%;
                font-style: normal;

                p {
                    padding: 0;
                }
            }
        }
    }

    p {
        padding: 0;
    }

    p.comment-notes {
        font-size: 1.2em;
        text-transform: uppercase;
        margin-top: -12px;
        margin-bottom: 15px;
    }

    label, textarea, input {
        font-size: 1em;

    }
    input[type="submit"] {
        width: auto;
    }
    textarea {
        height: 100px;
    }

}


.pagination {
    margin:20px 0;
    .page-numbers {
        border:1px solid $light-grey;
        padding: 10px;
        margin:0 2px;
        font-size: 1.6em;
    }
}
