.section_news {

  h2 {
    text-align: center;

    padding-top: 30px;
  }
}


#news_outer {
  width: 80%;
  margin: 0 10%;
}

ul#news_slider {


  li {
    margin:0;
    padding: 0 30px;
    display: flex;


    h3 {
      padding: 0;
      margin: 0;
      font-size: 2em;
    }


  }
}


.flex_container {
  display: flex;
}

.article {
  padding:0 20px 0 0;
}





.news_image, .news_image_large {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 200px;
  height: 200px;
  min-width: 200px;
  display: none;
  background: none;
  margin: 0 0 0 auto;
}

.news_image_large {
  display: block;
  width: 100%;
  height: 400px;
  margin:0 0 0px;
  background-size: cover;
}

div#news_outer a {
    text-decoration: none;
}


@media (min-width: 768px){

  .news_image {
    display: block;
  }

}
