#partners_slider {

  a  {
    display: block;
  }
  .partenaire_inner {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      width: 60%;
      margin: 0 20% 5px;
      height: 100px;
  }


}
